.login-main {
	position: relative;
	top: 4rem;
	display: flex;
	min-height: 80vh;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.login-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 18rem;
}

.login-main form {
	height: 25rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

h1 {
	font-weight: 300;
}

h3 {
	font-family: "Spartan", sans-serif;
	font-weight: 300;
}

button {
	cursor: pointer;
	background: #13c7ee;
	color: white;
	border: none;
	border-radius: 0.8rem;
	margin-top: 1rem;
	padding: 1.4rem 6.5rem 1.1rem 6.5rem;
	font-size: 2rem;
	font-weight: 700;
	font-family: "Spartan", sans-serif;
	box-shadow: 0rem 0.2rem 0.5rem rgb(138, 138, 138);
	max-width: fit-content;
}

button:focus {
	outline: none;
}
