.logout-main {
	width: 80%;
	margin: auto;
}

.logout-nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 10rem;
}

.return-button {
	display: flex;
}

.logout-nav-text {
	padding-right: 2rem;
}

.return-arrow {
	width: 6rem;
}

.logout-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 6rem;
	text-align: center;
}

.logout-container img {
	width: 40rem;
}

.logout-text {
	color: #5a5a5a;
	font-size: 5rem;
	padding: 4rem 0;
}

@media only screen and (max-width: 600px) {
	.logout-nav {
		margin-top: 1rem;
		height: 5rem;
	}

	.return-button {
		width: 20rem;
		display: flex;
		justify-content: flex-end;
	}

	.logout-nav-text {
		font-size: 2rem;
		font-weight: 300;
		padding-right: 2px;
	}

	.return-arrow {
		width: 3rem;
	}

	.logout-text {
		font-size: 2rem;
		padding: 4rem 0 2rem 0;
	}

	.logout-container img {
		width: 30rem;
	}
}
