.credential-main {
	display: flex;
	flex-direction: column;
	width: 35rem;
}

.form {
	width: 100%;
	height: 6rem;
	position: relative;
	font-size: 1rem;
	overflow: hidden;
}

.form input {
	width: 100%;
	height: 100%;
	font-size: 2rem;
	color: #4b4b4b;
	padding: 2.2rem 0 0rem 0;
	border: none;
	outline: none;
}

.form label {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	border-bottom: 1px solid rgb(138, 138, 138);
}

.form label::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 100%;
	height: 100%;
	border-bottom: 3px solid #13c7ee;
	transform: translateX(-100%);
	transition: transform 0.3s ease;
}

.content-name {
	font-size: 2rem;
	font-weight: 500;
	opacity: 0.6;
	color: rgb(138, 138, 138);
	position: absolute;
	bottom: 1.3rem;
	left: 0;
	transition: all 0.3s ease;
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
	transform: translateY(-150%);
	font-size: 1.5rem;
	color: #13c7ee;
}

.form input:focus + .label-name::after,
.form input:valid + .label-name::after {
	transform: translateX(0%);
}
