.selection-group-main {
	height: 50rem;
}

.group-title {
	padding-bottom: 3rem;
}
.group-title h3 {
	padding-bottom: 1.5rem;
}
.group-title hr {
	height: 1px;
	background-color: #13c7ee;
	border: none;
	width: 35rem;
}

.topics-section {
	display: flex;
	justify-content: space-between;
	overflow-x: auto;
}

.arrow {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.arrow img {
	width: 40px;
}

.topics-section::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.topics-section {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
