.nav {
	display: flex;
	width: 90%;
	height: 90px;
	justify-content: space-between;
	align-items: flex-end;
}

.nav h2 {
	font-weight: 400;
	color: #5a5a5a;
}
.nav ul {
	list-style: none;
	display: flex;
	height: 90px;
	align-items: center;
}

.nav ul img {
	width: 6rem;
	border-radius: 50%;
	box-shadow: 0px 3px 2px 0.01px #b1b1b1;
}

.profileIcon.hidden {
	display: none;
}

.nav ul li {
	font-family: "Spartan", sans-serif;
	font-size: 2.3rem;
}

.logout {
	font-weight: 200;
}

@media only screen and (max-width: 600px) {
	.nav h2 {
		font-size: 2rem;
		font-weight: 600;
		margin-bottom: 3rem;
	}

	.nav ul img {
		width: 4rem;
	}

	.nav ul li {
		font-size: 1.7rem;
	}
}
