.topic-item {
	text-align: center;
	padding-right: 13rem;
}

.topic-item .image {
	width: 30rem;
	height: 30rem;
}

.topic-item img {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.topic-item h4 {
	font-family: "Spartan", sans-serif;
	padding-top: 1.5rem;
}

@media only screen and (max-width: 600px) {
	.topic-item {
		padding-right: 5rem;
	}

	.topic-item .image {
		width: 15rem;
		height: 15rem;
	}

	.topic-item h4 {
		font-size: 2rem;
	}
}
