.topic-item {
	text-align: center;
	padding-right: 13rem;
}

.topic-item .image {
	width: 30rem;
	height: 30rem;
}

.topic-item img {
	width: 100%;
	height: 100%;
}

.topic-item h4 {
	font-family: "Spartan", sans-serif;
	padding-top: 1.5rem;
}
