.home-nav-main {
	width: 90%;
	height: 10rem;
	margin: auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-bottom: 2rem;
}

nav {
	display: flex;
	flex: 2;
	margin: auto;
	justify-content: flex-end;
}

nav ul {
	list-style: none;
	display: flex;
	align-items: center;
}

nav ul li {
	font-family: "Spartan", sans-serif;
	font-size: 2.3rem;
	padding: 1rem 0rem 0rem 3rem;
}

.login {
	font-weight: lighter;
}
.register {
	font-weight: 450;
}

@media only screen and (max-width: 600px) {
	.home-nav-main {
		height: 1rem;
	}

	.home-nav-main h2 {
		margin: auto;
		padding: 1rem 0 0 0;
		font-size: 2rem;
		font-weight: 500;
	}

	nav ul li {
		font-size: 2rem;
		padding: 1rem 0rem 0rem 1rem;
	}
}
